/* About Us Banner Styles */
.about-us-banner {
    background-image: url('../images/about-bg-image.jpg');
}

.breadcrumb {
    padding: 0;
    list-style: none;
    display: flex;
    // justify-content: center;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 10px;
    color: $white;
}

.breadcrumb-item a {
    color: $white;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

.breadcrumb-item.active {
    color: $gray;
}
