.agents-banner {
    background-image: url('../images/agents-bg-image.jpg'); /* Ensure this path is correct */
    background-size: cover;
    background-position: center;
    padding-top: 227px;
    padding-bottom: 233px;
    text-align: center;
}

.agents-title {
    color: white;
    margin-bottom: 10px;
}

.breadcrumb {
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    color: white;
}

.breadcrumb-item + .breadcrumb-item::before {
    content: ">";
    padding: 0 10px;
    color: white;
}

.breadcrumb-item a {
    color: white;
    text-decoration: none;
}

.breadcrumb-item a:hover {
    text-decoration: underline;
}

// .breadcrumb-item.active {
//     color: gray;
// }