.policy-breadcrumb{
    display: flex;
    justify-content: center;
}
.content-page{
    padding-top: 50px;
    padding-bottom: 100px;
    @media(max-width: 768px){
        padding-top: 50px;
        padding-bottom: 70px;
    }
}
.content-page__title{
    margin-bottom: 30px;
}
.content-page__wrapper{
    margin-bottom: 40px;
}
