.text{
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color: #0f1015;
}
.text--md{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #0f1015;
}
.text--sm{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #a4a6ac;
}
.text--lg{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 20px;
    color: #0f1015;
}

.caption{
    font-family: "Jost", sans-serif;
    font-weight: 700;
    font-size: 12px;
    color: #0f1015;
}
.label{
    font-family: "Jost", sans-serif;
    font-weight: 400;
    font-size: 12px;
    color: #0f1015;
}
